#container{
    background-color: aquamarine;
    width: 100%;
}
.item{
    margin: auto;
    width: 250px;
    color: orange;
}
.box1{
    background-color: rgb(81, 156, 81);
    color: rgb(199, 15, 15);
    border: 2px solid greenyellow;
    padding: 8px;
    width: 100%;
    height: 300px;
}
.box1 h2{
    margin: auto;
    width: 200px;
}
.box2{
    background-color:rgb(203, 160, 80);
    color: blueviolet;
    border: 2px solid orange;
    padding: 8px;
    width: 100%;
    height: 200px;
}
.box2 h2{
    margin: auto;
    width: 600px;
}
.box3{
    background-color:palevioletred;
    color: rgb(30, 115, 148);
    border: 2px solid pink;
    padding: 8px;
    width: 100%;
    height: 190px;
}
.box3 h2{
    margin: auto;
    width: 200px;
}
.box4{
    background-color:rgb(203, 203, 87);
    color: green;
    border: 2px solid yellowgreen;
    padding: 8px;
    width: 100%;
    height: 190px;
}
.box4 h2{
    margin: auto;
    width: 200px;
}
.box5{
    background-color:rgb(151, 77, 220);
    color:orange;
    border: 2px solid blueviolet;
    padding: 8px;
    width: 100%;
    height: 300px;
}
.box5 h2{
    margin: auto;
    width: 200px;
}
.box6{
    background-color:plum;
    color: rgb(182, 46, 68);
    border: 2px solid violet;
    padding: 8px;
    width: 100%;
    height: 250px;
}
.box6 h2{
    margin: auto;
    width: 200px;
}
.box7{
    background-color: rgb(239, 141, 105);
    color: rgb(184, 252, 82);
    border: 2px solid rgb(247, 100, 47);
    padding: 8px;
    width: 100%;
    height: 250px;
}
.box7 h2{
    margin: auto;
    width: 450px;
}
.box8{
    background-color: aquamarine;
    color: rgb(236, 177, 69);
    border: 2px solid lightgreen;
    padding: 8px;
    width: 100%;
    height: 280px;
}
.box8 h2{
    margin: auto;
    width: 200px;
}
.box9{
    background-color: rgb(134, 77, 77);
    color: rgb(244, 239, 239);
    border: 2px solid wheat;
    padding: 8px;
    width: 100%;
    height: 160px;
}
.box9 h2{
    margin: auto;
    width: 600px;
}


